.container{
  /*  margin-top: 200px;*/
  /*  width: 600px;
    background-color: aliceblue;
    border-radius: 20px;
    width: 50%;*/ 
}
.login{
    text-align: center;
    margin: auto;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.input{
     display: flex;
     align-items: center;
     margin: auto;
     width: 400px;
     background-color: gainsboro;
     border-radius: 5px;
}
.input input{
    width: 400px;
   background-color: gainsboro;
   border-radius: 5px;
}
img{ 
    width: 5%;
}
.text{
    width: 50%;
    height: 50px;
    background: transparent;
    border: none;
    border-radius: 5px;
    outline: none;   
}
#forgot-password{
    background: transparent;
}
#lost-password{
    color: purple;
    cursor: pointer;
}

